header{
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: rgb(136, 217, 255);
   font-family: 'Courier New', Courier, monospace; 
    align-self: center;
    border: 0;
    margin: 0;
    
}

body{
    margin: 0;
}




.pg{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}