header{
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: bisque;
   font-family: 'Courier New', Courier, monospace; 
    align-self: center;
    border: 0;
    margin: 0;
    
}

html{
margin:0;

}